*.pyc
.vscode/
logs
script/
tmp/
.env
save_models
accelerate_configs/
wandb/
data
results/

# LaTeX build artifacts
*.aux
*.bak[0-9]*
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.pdf
*.toc
indent.log